* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#section {
    width: 100%;
    height: 110vh;
    background-image: url(img/back.png);
    background-size: cover;
    background-position: center;
    padding: 10px 100px;
}
header {
    display: flex;
    align-items: center;
    gap: 70px;
    width: 100%;
    height: 20vh;
    padding: 10px 100px;
}

nav > a {
    margin: 20px;
    font-size: 15.5px;
    text-decoration: none;
    color: white;
}

.logo {
    gap: 20px;
    display: flex;
    align-items: center;
}

.container {
    margin: 0 auto;
    width: 70%;
}

.text {
    margin-top: 90px;
    width: 100%;
    text-align: center;
}
.text > p {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.vector {
    width: 4%;
    margin: 120px auto;
}

#section2 {
    width: 100%;
    height: max-content;
}

.h1 {
    position: relative;
    margin: 90px auto;
    width: max-content;
    height: 20px;
    display: flex;
    align-items: center;
}

.h1 > img {
    bottom: -200%;
    position: absolute;
    right: -7%;
}

.h1 > h1 {
    font-size: 45px;
    color: rgba(1, 53, 62, 1);
}


.text1 > p {
    width: 80%;
    color: rgba(36, 33, 33, 1);
    line-height: 23px;
    font-size: 16px;
}

.overal {
    gap: 30px;
    display: flex;
    align-items: baseline;
}

#section3 {
    width: 100%;
    height: 80px;
    padding: 10px 100px;
}

.h1 > h1 {
    font-size: 48px;
    color: rgba(1, 53, 62, 1)
}

#section2 {
    padding: 10px 100px;
}

.overal2 {
    align-items:center;
    display: flex;
    gap: 10px;
}

.overal2 > p {
    color: rgba(36, 33, 33, 1);
    font-size: 24px;
}

.box {
    width: 400px;
}

.p {
    margin-top: 20px;
}

.p > p {
    font-size: 16px;
    color: rgba(36, 33, 33, 1);
}

.main {
    display: flex;
    align-items: baseline;
    gap: 50px;
}

.text2 {
        margin-top: 90px;
}

.text2 > p {
    font-size: 16px;
    color: rgba(36, 33, 33, 1);
}

.box2 {
    display: flex;
    align-items: center;
}

.boss {
    margin: 20px;
}

.wave3 {
    gap: 40px;
    margin-top: 90px;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
}

.picture > img {
    width: 760px;
    height: 680px;
}

.center {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
}

.center > img {
    right: 4%;
    position: absolute;
    bottom: -10%;
}

.center > h1 {
    margin-top: 35px;
    font-size: 42px;
    color: rgba(1, 53, 62, 1);
}

.top > p {
    margin-top: 90px;
    color: rgba(36, 33, 33, 1);
    line-height: 22px;
    font-size: 14px;
}

.photo {
    margin: 50px;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 150px;
}

.photo > img {
    bottom: -80%;
    position: absolute;
    right: 38%;
}

.nav > a {
    color: rgba(36, 33, 33, 1);
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}

span {
    color: rgba(0, 178, 160, 1);
}

.humans {
    gap: 50px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    position: relative;
}

.main4 {
    margin-bottom: 20px;
    gap: 40px;
    align-items: center;
    display: flex;
}

.main3 {
    margin-top: 5px;
}

.main2{
    margin-top: 20px;
    gap: 40px;
    align-items: center;
    display: flex;
}

.a {
    padding:  10px 100px;
    border:1px solid rgb(177, 175, 175);   
    margin-top: 30px;
    right: 42%;
    position: absolute;
}

.a > a {
    color: rgba(36, 33, 33, 1);
    font-size: 22px;
    text-decoration: none;
}


